body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.banner{
    padding: 150px 150px 0px 150px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}
header{
    background: rgba(229, 84, 115, 0.10);
}
.flower-pic{
    width:600px;
    height:800px;
 
}
.banner-content{
    max-width:750px;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    border:0;
    padding:20px 43px;
}
.banner-title{
    color: #272727;
  
    font-size: 80px;

    font-weight: 800;
    margin-bottom:0;
}
.banner-text{
    color: rgba(39, 39, 39, 0.60);
    margin-top:30px;
    font-size: 18px;

    font-weight: 400;

}
#featured-flowers-text{
    padding: 24px 663px 48px 663px;

}
.section-title{
    color: #272727;
    text-align: center;

    font-size: 40px;

    font-weight: 800;
    margin-top: 50px;
    margin-bottom:0;
}
.section-text{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;

    font-size: 18px;

    font-weight: 400;
    line-height: 30px;
    margin-top:0;
}