body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.banner{
    padding: 150px 150px 0px 150px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}
header{
    background: rgba(229, 84, 115, 0.10);
}
.flower-pic{
    width:600px;
    height:800px;
}
.whole{
    margin:0 auto;
    max-width:1950px;
    
}

.banner-content{
    max-width:800px;
    
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    border:0;
    padding:20px 43px;
    color: #FFF;

    font-size: 20px;

    font-weight: 700;

}
.banner-title{
    color: #272727;
  
    font-size: 80px;

    font-weight: 800;
    margin-bottom:0;
    margin-top:0;
    
}
.banner-text{
    color: rgba(39, 39, 39, 0.60);
    margin-top:30px;
    font-size: 18px;

    font-weight: 400;

}
/* .whole{
    max-width: 1920px;
} */
#featured-flowers-text{
    padding: 24px 663px 48px 663px;
    

}
.section-title{
    color: #272727;
    text-align: center;

    font-size: 40px;

    font-weight: 800;
    margin-top: 100px;
    margin-bottom:0;
}
.section-text{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;

    font-size: 18px;

    font-weight: 400;
    line-height: 30px;
    margin-top:0;
}
.flowers-contain{
    display:flex;
    align-items: center;
    justify-content: space-around;
    gap:35px;
    margin: 0 340px 0 340px;
    
} 
#first{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-bottom:0;
    /* height: 428px;
    width:310px; */
    padding:90px 76px 0 76px;
    
}
.flower{
    width:500px;
    height:650px;
}
#second{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding:90px 47px 59px 47px;
    /* height:350px;
    width:350px; */
}
#third{
    /* height:315px;
    width:370px; */
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding:50px 75px 0 75px;
    margin-bottom:0;
}
.flower-name{
    display:flex;
    align-items: center;
    color: #272727;
    /* text-align: center; */

    font-size: 24px;

    font-weight: 700;
    /* line-height: 35px; */
    gap:300px;
    margin:0 350px 128px 350px;
    
    

}
.support{
    
    display:flex;
    gap:300px;
    padding: 50px 15px 5px 290px;
   
}
.image{
    height:110px;
    width:110px;
}
.support-text{
    display:flex;
    /* align-items: center; */
    color: rgba(39, 39, 39, 0.80);
    gap:100px;
    margin:0 60px 87px 80px;
 
    font-size: 24px;

    font-weight: 600;
    padding:0 0 30px 0;


}
.pic{
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin:0 500px 0 600px;
    max-width:1500px;
}
.deal{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}
.deal-one{
    display:flex;
    align-items: center;
    /* justify-content: space-between; */
    /* width:950px; */
    /* padding:30px 230px 140px 230px; */
}
.deal-one-text{
    width:2000px;
}
    

.deal-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding:0 0 0 723px;
}
.rose-pic{
    padding:100px 729px 100px 0;
}
.deal-context{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding:0 275px 0 680px;
}

.sign-up{
    text-align: center;
    margin:auto;
    align-items: center;
    display: flex;
    
}
.bt{
    padding:0 0 0 390px;
}
.colorful-flowers-container{
    display:flex;
    gap:24px;
    padding:0 0 0 250px;
    margin:0 0 100px 0;
}
.title{
    color: #272727;
    text-align: center;

    font-size: 40px;

    font-weight: 800;
    padding: 100px 0 0 0;
}
.title-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;

    font-weight: 400;
    
    
}
#description{
    padding:0 650px;
}

#image{
    background-image: url('../Flower Asset/Rectangle 9.png');
    border-radius: 8px;
    /* width:100%; */
    background-repeat: no-repeat;
    background-size: auto; 
    background-position: center;
    margin:auto;
    

}
.details{
    color: #272727;
    text-align: center;

    font-size: 50px;

    font-weight: 800;
    padding:50px 0 0 0;
}
.details-text{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;

    font-size: 18px;

    font-weight: 400;
    /* line-height: 30px; */
    padding:0 0 50px 0;
}
.inputs input[type="text"]{
    border-radius: 8px;
    background: #FFF;
    border:0;
    width: 650px;
    height: 65px;
}
.inputs{
    align-items: center;
    display:flex;
    padding:0 0 100px 0;
}
#email-icon{
    padding:0 17px 0 575px;
}
.bg-color{
    background: #111010;
    margin:200px 0 0 0;
    
    height: 450px;
}
.foot-description{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;

    font-size: 18px;
    padding:0 1000px 10px 1000px;
    font-weight: 400;
    display:flex;

}
.foot-title{
    color:rgba(255, 255, 255, 0.90);
    font-size: 48px;
    text-align: center;
    padding:150px 0 5px 0;
    font-weight: 800;
}
.foot{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;

    font-size: 16px;

    font-weight: 400;
}